a {
  text-decoration: none;
}

/* START HEADER */

header{
  width: 100%;
  height: 10vh;
  background-color: lightgrey;
}

.humberger_menu_button{
  width: 50px;
  height: 100%;
  margin-left: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.hanburger_menu_bar #open{
  width: 60%;
  height: 4px;
  background-color: white;
  border-radius: 5px;
  border: solid;
  box-shadow: 1px 1px darkgrey;
}
.hanburger_menu_bar #open.hide{
  display: none;
}

.hanburger_menu_bar.a{
  margin-bottom: 4px;
}
.hanburger_menu_bar.b{
  margin-bottom: 4px;
}

.pc-menu{
  display: none;
}

@media (min-width: 600px) {
  .pc-menu{
    display: block;
    margin-left: auto;
  }

  .pc-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .pc-menu a:hover{
    background-color: darkgray;
  }

  .pc-menu{
    display: block;
    width: 80px;
    line-height: center;
    text-align: center;
  }

  .hamburger_menu {
    display: none;
  }
}
/* END HEADER */

/* START MAIN */

main {
  padding: 0 16px;
}

.overlay {
  padding: 64px;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
.overlay show{
  opacity: 1;
  pointer-events: auto;
}
.overlay #close {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}

.overlay li{
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  /* なぜか、list-style: none;　が要らなかったよ */
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(16px);
}
.overlay.show li {
  opacity: 1;
  transform: none;
}
.overlay.show li:nth-child(1){
  transition-delay: 0.1s;
}
.overlay.show li:nth-child(2){
  transition-delay: 0.2s;
}
.overlay.show li:nth-child(3){
  transition-delay: 0.3s;
}
.overlay li:hover {
  border-bottom: solid 2px #000;
  color: blue;
  font-size: 28px;
}
/* END MAIN */
